#who
{
position: absolute;
width: 900px;
height: 49px;
left: 308px;
top: 300px;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
color: #3E3F43;
}
#who::before
{
    content: url(../img/Group28.png);
}
#about
{
position: absolute;
width: 379px;
height: 98px;
left: 60%;
top: 300px;
font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 72px;
line-height: 98px;
text-align: right;
color: rgba(34, 34, 34, 0.1);
}
#salat
{
 position: absolute;
width: 388px;
height: 306px;
left: 300px;
top: 620px;
}
#divbackground
{
 position: absolute;
width: 382px;
height: 382px;
left: 100px;
top: 800px;
background: url(../img/route.png);
}
#woodanswer
{
 position: absolute;
width: 448px;
height: 180px;
left: 530px;
top: 442px;
}
#WOODIES
{
 position: absolute;
width: 448px;
height: 98px;
left: 604px;
top: 242px;
font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;
color: #3E3F43;
}
#answer

{
position: absolute;
width: 448px;
height: 66px;
left: 604px;
top: 356px;
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
color: #000000;
}

.Customized
{
 position: absolute;
width: 648px;
height: 131px;
left: 10px;
top: 650px;

}
#furniture
{
position: absolute;
width: 830px;
height: 49px;
left: 302px;
top: 430px;
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 49px;
color: #000000;
}
#Get
{
position: absolute;
width: 830px;
height: 66px;
left: 302px;
top: 500px;
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
 color: #000000;
}
#cust_img
{
position: absolute;
width: 407px;
height: 384px;
left: 1300px;
top: 986px;
}
.form
{
position: absolute;
width: 1152px;
height: 174px;
left:-45px;
top: -320px;
background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

}
#email
{
position: absolute;
width: 348px;
height: 30px;
left: 750px;
top: 1357px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #AFAFAF;
}
#Subscrib
{
 position: absolute;
width: 793px;
height: 69px;
left: 107px;
top: 1323px;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #000000;
}
#submit
{
background: #DAA520;
border-radius: 4px;
border: none;
position: absolute;
width: 120px;
height: 35px;
left: 1110px;
top: 1357px;
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
}
#strong
{
    font-size: 25px;
}
footer
{
    position: absolute;
width: 1152px;
height: 174px;
left: 250px;
top: 470px;
}
article
{
display: grid;
grid-template-columns: repeat(6,1fr);
margin-top: 105%;
margin-left: 0%;
width: 120%;
border-top:  1px solid #AFAFAF;

}
#img_footer img
{
    width: 120%;
 margin-left: -45%;
}
#logo
{
    margin-top: 7%;
}


